<div class="ingredient">
    <img 
        src="assets/images/{{ingredient.image}}.png"
        [alt]="ingredient.name"
        [height]="ingredient.name === cucumber ? '50' : '49'"
    >
    <div class="ingredient_name">{{ingredient.name | titlecase}}</div>
    <div class="ingredient_actions">
        <button 
            [disabled]="ingredient.amount === 0" 
            (click)="removeIngredient(ingredient.id)">
            -
        </button>
        <div class="counter">{{ingredient.amount}}</div>
        <button (click)="addNewIngredient(ingredient.id)">+</button>
    </div>
</div>