.custom_burger{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    position: relative;
    img{
        width: 435px;
    }
    .bun_bottom{
        position: absolute;
        width: 433px;
    }
    .bun_top{
        position: absolute;
        width: 355px;
    }
    // .custom_burger_ingredientes{
    // }
    .ingredient{
        position: absolute;
        width: 365px;
        // z-index: 1;
    }
}